@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;

}

body {
    margin: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.container{
    display:flex;
}

a{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}
p{
    margin: 0;
}
h2{
    margin: 0;
}
/* NAVBAR */

.navigation {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    width: 100vw;
    background: rgb(1, 39, 88);
    z-index: 1000;
}
.logo{
    transform: scale(0.8);
}


.addBook{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    background-color: rgb(201, 201, 201);
    width: 100%;
    z-index: 1000;
    padding: 10px;
}

#searchBtn{
    background-color: #eae4e4;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}

#inputBtn{
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    width: 300px;
}

#inputBtn:focus {
    outline: none;
}
.navSearch{
    display: none;
    position: sticky;
    top: 59px;
    background-color: rgb(94, 94, 94);
    z-index: 1000;
}
#inputNav{
    margin: 10px;
    margin-left: 30px;
    color: white;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    background-color: rgb(94, 94, 94);
    font-size: large;
}
#searchNav{
    margin: 10px 15px;
}
#inputNav:focus {
    outline: none;
}
/* BOOK RELATED*/

.btnToSort{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    height: 40px;
    gap: 30px;
}

.sortOrder, .default{
    display: inline;
    border: none;
    background-color: rgb(1, 39, 88);
    padding: 5px 30px;
    color:white;
    font-weight: 800;
    border-radius: 20px;
}

.sortGenre{
    border: none;
    background-color: rgb(1, 39, 88);
    color: white;
    font-weight: 800;
    padding: 5px 30px;
    padding-right: 15px;
    border-radius: 20px;
}

.listOfBooks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container{
    display: flex;
    width: auto;
}

.book-card,.singleBook-card {
    position: relative;
    display: flex;
    background-color: #eae4e4;
    border-radius: 15px;
    overflow: hidden;
    width: 600px;
    max-width: 550px;
    height: auto;
    margin: 20px auto;
}

.book-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.book-author{
    color: rgb(121, 121, 121)
}
.infoText, .infoGenre{
    color: rgb(121, 121, 121);
    font-size: smaller;
}
.infoId {
    padding-top: 5%;
}
.book-title{
    padding-top: 10px;
    font-size: x-large;
}
.book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 30%;
    height: 72%;
}


.book-image img {
    width: auto;
    height: 210px;
    border-radius: 8px;
}

.actions {
    position: absolute;
    background-color: white;
    border-radius: 0 0 0 15px;
    display: flex;
    top: 0px;
    right: 0px;
    justify-content: space-evenly;
    width: 35%;
    height: 45px;
    align-items: center;
}

.book-details {
    padding: 20px 0px;
    width: 75%;
}


hr {
    border: 1px solid rgb(184, 184, 184);
}


.personalCard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.midlePart,.bottomPart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
}

.book-price,.book-isbn,.book-unit,.book-publisher,.book-year,.book-genre,.single-book-price,.single-book-isbn,.single-book-unit  {
    display: grid;
    max-width: 120px;
}

.book-publisher{
    padding-right: 10px;
}


.infoGenre{
    display: flex;
    justify-content: end;
}

.synopse{
    padding: 30px 0;
    padding-right: 10px;
}
.synopseText{
    padding-right: 12px;
}

.back{
    color: #a9a8a8;
}
/* BOOK FORM*/

.book-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.book-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-form input, 
.book-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.submit-button, 
.cancel-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.submit-button:hover, 
.cancel-button:hover, 
.sortOrder:hover, 
.sortGenre:hover, 
#searchBtn:hover, 
.default:hover {
    opacity: 0.5;
}


@media (max-width: 768px) {
    .searchNav{
        display: none;
    }
    .navSearch{
        display: flex;
    }
    .br{
        display: none;
    }
    .btnToSort{
        display: flex;
        height: auto;
        width: 100vw;
        gap:0px;
        margin: 0px;
        padding: 0px;
        justify-content: unset;
    }

    .default, .sortOrder, .sortGenre{
        padding: 5px 20px;
        border-radius: unset;
        width: 100%;
        background-color: #a9a8a8;
    }

    .default,.sortOrder{
        justify-content: start;
        align-items: start;
        padding-left: 0px;
        border-right:1px solid white;
    }

    .book-container{
        justify-content: center;
        align-items: center;
    }
    .book-card{
        position: relative;
        max-width: 300px; 
        width: 400px;
        min-height: 220px;
        height: auto;
    }
    .book-details {
        display: flex;
        padding: 0;
        flex-direction: column;
        width: 50%;
   }

   .singleBook-card{
    max-width: 320px;
    width: 400px;
    min-height: 400px;
    height: auto;
    padding: 5px;
   }
   .actions{
    bottom: 0px;
    right: 0;
    top: unset;
    border-radius: 15px 0 0 0;
    width: 125px;
   }
   .primaryInfo{
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 10px 0;
    box-sizing: border-box;
   }  

   hr {
    display: none;
   }
    .midlePart, .bottomPart{
    font-size: small;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 90%;
    height: auto;
}
   .book-image img {
    margin: 0 0;
    width: auto;
    height: 120px;
    border-radius: 8px;
}
.book-isbn, .book-unit,.book-price{
    position: absolute;
    align-items: end;
    bottom: 10px;
}
.book-year, .book-publisher,.book-genre{
    position: absolute;
    align-items: end;
    bottom: 160px;
}

.single-book-isbn, .single-book-unit,.single-book-price{
    position: absolute;
    align-items: end;
    bottom: 200px;
}

.synopseText{
    position: absolute;
    align-items: end;
    bottom: 45px;
    left: 40px;
    width: 80%;
}

.infoGenre{
    display: flex;
    justify-content: space-between;
}

.book-price, .book-year, .single-book-price  {
    left: 20px;
}
.book-isbn, .single-book-isbn{
    left: 100px;
}
.book-unit, .book-genre, .single-book-unit{
    left: 240px;
}
.nav-menu{
    display: none;
}

.book-publisher{
    left: 100px;
    bottom: 140px;
}

.submit-button:hover, 
.cancel-button:hover {
    opacity: 0.5;
}


  }