<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <thymeleaf th:replace="header :: header"/>

</head>
<body>

<div class="container">
    <h2 th:text="${'Book #' + book.id}"></h2>

        <div class="show-container">
            <form class="form">
                <div class="group">
                    <label class="label">Title:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.title}">Title</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Author:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.author}">Author</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Isbn:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.isbn}">Isbn</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Published Year:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.publishedYear}">Published Year</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Genre:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.genre}">Genre</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Quantity:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="${book.quantity}">Quantity</p>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Price:</label>
                    <div class="show-div">
                        <p class="form-control-static" th:text="€ + ${book.price}">Price</p>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-8">
            <a class="btn btn-danger" th:href="@{/book/list}">Books List</a>
        </div>





</div>


</body>
</html>
