@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;

}

body {
    margin: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.container{
    display:flex;
}

a{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

/* NAVBAR */

.navigation {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    width: 100vw;
    background: rgb(1, 39, 88);
    /*  z-index: 1000; */
}
.logo{
    transform: scale(0.8);
}


.addBook{
    display: flex;
    align-items: self-start;
    margin: 20px 50px
}

#searchBtn{
    background-color: #eae4e4;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}

#inputBtn{
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}

#inputBtn:focus {
    outline: none;
}
/* BOOK RELATED*/

.listOfBooks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container{
    display: flex;
    width: 580px;
}

.book-card {
    position: relative;
    display: flex;
    background-color: #eae4e4;
    border-radius: 15px;
    overflow: hidden;
    width: 580px;
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
}

.book-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 30%;
    height: 85%;
}


.book-image img {
    width: auto;
    height: 210px;
    border-radius: 8px;
}

.actions {
    position: absolute;
    background-color: white;
    border-radius: 0 15px 0 0;
    display: flex;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    width: 28%;
}

.book-details {
    padding: 20px;
    width: 75%;
}


hr {
    border: 1px solid rgb(184, 184, 184);
}

.bottomPart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
}

.book-price {
    display: grid;
    width: 20%;
    height: 100%;
}

.book-isbn {
    display: grid;
}
.book-unit {
    display: grid;
}