<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a class="logo" href="/bookStore"><img class="logo-img" src="/bookStore/rsc/HPlogo.png" alt="BOOOOK"></a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/bookStore">Home</a></li>
            <li class="nav-item"><a href="/bookStore/book/list">Books</a></li>
        </ul>
        <div class="menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>


</header>
</body>
</html>